---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
	<div class="py-12 border-t-2 border-slate-200 text-center">
		<p class="text-slate-600 text-xs tracking-wider">
			&copy; {currentYear} Nguyen Hoang Hai Nam
		</p>
	</div>
</footer>